.detail {
    padding: 120px 80px 50px 50px;
}

.videoContents{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.videoTitle {
    font-size: 28px;
    margin-bottom: 20px;
}

.videoChannel {
    font-size: 22px;
    margin-bottom: 40px;
}

.videoDesc {
    font-size: 16px;
    white-space: pre-wrap;
}

